<h2>New book</h2>

  <%= form_with model: @book, url: '/books', method: :post do |f| %>
  <div class="form">
    <div class="field">
      <label>Title</label>
      <span><%= f.text_field :title %></span>
    </div>

    <div class="field">
      <label>Opinion</label>
      <span><%= f.text_area :body %></span>
    </div>

    <div class="botton">
      <%= f.submit 'Create Book' %>
    </div>
  </div>
<% end %>